body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.background {
    position: absolute;
    opacity: 0.9;
    width: 40vw;
    height: 90vh;
    border-radius: 2vw;
    left: 0vw;

}

.flower {
    position: absolute;
    z-index: 10;
    width: 10vw;
    height: 10vw;
    top: 23vh;
    left: 1vw;
}

.container {
    position: relative;
    background-color: #DFF5E1;
    width: 40vw;
    height: 90vh;
    border-radius: 2vw;
    top: 5vh;
    left: 30vw;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.eng1 {
    color: #355735;
    font-size: 1.5vw;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
}

.eng2 {
    color: #2F4F2F;
    font-size: 3vw;
    font-family: "Pacifico",serif; 
}
